<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>toneAnalyzer</key>
	<dict>
		<key>apikey</key>
		<string>Hg2LSkfvwpVS3EfelDBMRUwXaLBQ_oYL-LDJem8hDD2P</string>
		<key>url</key>
		<string>https://api.au-syd.tone-analyzer.watson.cloud.ibm.com/instances/1956e6e2-d646-40cf-8bb5-33ad0ac7f322</string>
	</dict>
	<key>appName</key>
	<string>toneanalyzerios</string>
</dict>
</plist>
